---
import Footer from '../sections/Footer.astro';
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>トータルペット・スマートガーデン | 有限会社トータルクリーンサービス</title>
		<meta name="description" content="大切な家族と過ごす、“美しい庭時間”をあなたに。犬も人も、心地よく暮らせる、フルオーダーのハイエンドガーデン">
		<meta name="keywords" content="犬と暮らす庭, ペットと過ごせる庭, ドッグガーデン, ハイエンドガーデン, 埼玉 庭 リフォーム, 高級住宅地 ガーデン, 犬用庭デザイン, ペット安全設計, オーダーメイド庭, ITガーデン, 自動潅水, 庭 メンテナンス, 庭 照明, 植栽デザイン, 犬と暮らす住まい, ペット共生住宅, 愛犬との暮らし, 高級ガーデンデザイン, ドッグフレンドリーガーデン, トータルクリーンサービス" />
	</head>
	<body>
		
		<Footer />
	</body>
</html>

<style lang="scss">
	body{
		background-color: var(--color-pampas);
	}
</style>