---

---

<form action="https://docs.google.com/forms/u/1/d/e/1FAIpQLSd6X8vNCmpRRIZb2pS1AVgprE3ivgyDn8_kTmkiGUXBBKGr-w/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;">
  <span>メールアドレス</span>
  <input type="text" size="19" name="emailAddress">
  <button type="submit" value="Submit">Send</button>
</form>
<script type="text/javascript">var submitted = false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted){window.location='thanks.html';}"></iframe>

<style lang="scss">
@use "../styles/mixin" as *;
.slider{
  margin-top: 20px;
}

</style>