---
import Section from '../components/Section.astro';
import Container from '../components/Container.astro';
import FadeWapper from '../components/FadeWapper.astro';
import H2 from '../components/H2.astro';
import Text from '../components/Text.astro';
import Form from '../components/Form.astro';
import Input from '../components/Input.astro';
---

<Section>
  <Container>
    <FadeWapper type='text'>
      <H2 text='お問い合わせ' heading='Contact'/>
      <Text>
        テキストがあればこちらに入力
      </Text>
    </FadeWapper>
    <div class="contact__inner">
      <Form formID="1mYAQlQdQVqjfN7pfexdi98iZi1plt4FsuSLei_bwDTI">
        <Input text="メールアドレス" tag='input' type="email" entryID="1066244054" />
        <Input text="メッセージ" tag='textarea' entryID="1066244054" />
      </Form>
    </div>
  </Container>
</Section>

<style lang="scss">
@use "../styles/mixin" as *;
.contact__inner{
  margin-top: 80px;
}

</style>