---

---

<section class="float">
  <a href="" target="_blank" class="float__cv">
    <div class="float__cv__inner">
      <span>お問合せはこちら</span>
    </div>
  </a>
  <a href="" class="float__insta" target="_blank">
    <img src="/assets/img/icon_insta.png" alt=""></img>
  </a>
</section>

<style lang="scss">
@use "../styles/mixin" as *;
.float{
  position: fixed;
  bottom: 40px;
  right: 0;
  width: 58px;
  z-index: 100;
  @include sp{
    bottom: 24px;
    width: 52px;
  }
}

.float__cv{
  transition: opacity 0.3s ease;
  @include hover {
    opacity: 0.7;
  }
}

.float__cv__inner{
  background-color: var(--color-dallas);
  border-radius: 5px 0 0 5px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  row-gap: 12px;
  > span{
    color: var(--color-white);
    font-family: var(--font-mincho);
    font-size: 18px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    @include sp{
      font-size: 16px;
    }
  }
  &::after{
    content: "";
    display: inline-block;
    background-image: url("/assets/img/icon_arrow.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 5px;
  }
  
}
.float__insta{
  display: block;
  border-radius: 5px 0 0 5px;
  background-color: var(--color-white);
  padding: 11px;
  transition: opacity 0.3s ease;
  @include hover {
    opacity: 0.7;
  }
  @include sp{
    padding: 11px 9px;
  }
}

</style>